
<div class="title">
<h2>Are you sure you want to delete your account?</h2>
<br>
<br>
<p>If you delete your account you wont be able to get it back. You will have to create a new account.</p>
</div>
<br>
<br>

<div class="delete">
    <a style="text-decoration: none; color:black;" class="button3" href="/"><i
    class="fa-regular fa-circle-left"
  > </i> Go home</a>
  <br>
  <br>

<form method="post" action="/profile/deleteAccount">
<button class="deleteButton"><i class="fa-solid fa-triangle-exclamation"></i> Yes, Delete my account</button>
</form>
</div>
