<div
  class="d-flex justify-content-evenly align-items-center"
  style="padding: 1%; background-color:rgba(184, 235, 40, 0.31) ;"
>

  <div>
    <a style="text-decoration: none; color:black;" href="/auth/profile"><i
        class="fa-regular fa-circle-left"
      > </i>
      Go back</a>
  </div>

  <!-- Example split danger button -->
  <div class="btn-group">
   <a href='/auth/profile' type="button" class="btn button4"><i class="fa-regular fa-user"></i> User information</a>
    <button
      type="button"
      class="btn button4 dropdown-toggle dropdown-toggle-split"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/profile/personal-info">Edit personal information</a></li>
      <li><a class="dropdown-item" href="/profile/myAddress">My address</a></li>
      <li><a class="dropdown-item" href="/profile/recentOrder">My recent orders</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="/auth/logOut">Log out</a></li>
    </ul>
  </div>
</div>

<div class="profileWelcome">
  
  <img
    src="https://www.pinclipart.com/picdir/big/373-3736113_avocado-son-clipart.png"
    alt="profilePic"
    class="profilePic"
  />
<h2>My recent orders</h2>
  <div class="editSectiton">
    
    <br>
{{!-- {{#each foundOrderArr}}
    


{{/each}} --}}
  </div>

</div>