<div style="padding: 1%;">
<a href="/cart/shopping-cart" style=" text-decoration: none; color:black"><i
    class="fa-regular fa-circle-left"
  ></i>
  Go back to the cart</a>
  </div>



<form class="row g-3 formCheckout" method="post">
<h2 style="text-align: center;">Check Out</h2>

<h5 style="background-color: rgba(184, 235, 40, 0.31); width: auto;">Your total: $ {{total}}</h5>

<h4 >Shipping Address</h4>
  <div class="col-md-2">
    <label for="inputName" class="form-label">Full name</label>
    <input
      name="fullName"
      type="text"
      class="form-control"
      id="inputName"
      placeholder="Name and last name"
    />
  </div>

  <div class="col-md-2">
    <label for="inputPhoneNumber" class="form-label">Phone Number</label>
    <input
      name="phoneNumber"
      type="text"
      class="form-control"
      id="inputPhoneNumber"
      placeholder="000 000 0000"
    />
  </div>

  <div class="col-md-2">
    <label for="inputEmail" class="form-label">Email</label>
    <input
      name="email"
      type="email"
      class="form-control"
      id="inputEmail"
      placeholder="example@example.com"
    />
  </div>

   <div class="col-12">
    <label for="label" class="form-label">Label</label>
    <input
      name="label"
      type="text"
      class="form-control"
      id="label"
      placeholder="name of your address"
    />
  </div>

  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    <input
      name="address"
      type="text"
      class="form-control"
      id="inputAddress"
      placeholder="1234 Main St"
    />
  </div>

  <div class="col-12">
    <label for="inputAddress2" class="form-label">Address 2</label>
    <input
      name="address2"
      type="text"
      class="form-control"
      id="inputAddress2"
      placeholder="Apartment, studio, or floor"
    />
  </div>

  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input name="city" type="text" class="form-control" id="inputCity" />
  </div>

  <div class="col-md-4">
    <label for="inputState" class="form-label">State</label>
    <input name="state" type="text" class="form-control" id="inputState" />
  </div>

  <div class="col-md-2">
    <label for="inputZip" class="form-label">Zip code</label>
    <input type="text" class="form-control" name="zipCode" id="inputZip" />
  </div>

  <div class="form-floating">
    <textarea
      class="form-control"
      placeholder="Leave a comment here"
      id="floatingTextarea2"
      style="height: 100px"
      name="textArea"
    ></textarea>
    <label for="floatingTextarea2">Enter here your allergies, or any important information.</label>
  </div>

<h4>Card Info</h4>
  <div class="col-md-2">
    <label for="inputName" class="form-label">Cardholder's name</label>
    <input
      name="cardName"
      type="text"
      class="form-control"
      id="inputName"
      placeholder="Cardholder's name"
    />
  </div>

  <div class="col-md-2">
    <label for="inputCardNumber" class="form-label">Card number</label>
    <input
      name="cardNumber"
      type="text"
      class="form-control"
      id="inputCardNumber"
      placeholder="000 000 0000"
    />
  </div>


  <div class="col-2">
    <label for="inputExpiration" class="form-label">Expiration</label>
    <input
      type="text"
      class="form-control"
      id="inputExpiration"
      placeholder="MM/YYYY"
      name="expiration"
    />
  </div>

  <div class="col-md-2">
    <label for="inputCVC" class="form-label">CVC</label>
    <input type="text" class="form-control" id="inputCVC" name="cvc"/>
  </div>

{{!-- <h4>Billing Address</h4>
  <div class="col-md-2">
    <label for="inputName" class="form-label">Full name</label>
    <input
      name="fullName"
      type="text"
      class="form-control"
      id="inputName"
      placeholder="Name and last name"
    />
  </div>

  
  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    <input
      name="address"
      type="text"
      class="form-control"
      id="inputAddress"
      placeholder="1234 Main St"
    />
  </div>

  <div class="col-12">
    <label for="inputAddress2" class="form-label">Address 2</label>
    <input
      name="address2"
      type="text"
      class="form-control"
      id="inputAddress2"
      placeholder="Apartment, studio, or floor"
    />
  </div>

  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input name="city" type="text" class="form-control" id="inputCity" />
  </div>

  <div class="col-md-4">
    <label for="inputState" class="form-label">State</label>
    <input name="state" type="text" class="form-control" id="inputState" />
  </div>

  <div class="col-md-2">
    <label for="inputZip" class="form-label">Zip code</label>
    <input type="text" class="form-control" id="inputZip" />
  </div> --}}


  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" />
      <label class="form-check-label" for="gridCheck">
        Billing address same as shipping address
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn button2 ">Submit</button>
  </div>
</form>

{{#if errorMessage}}
<p style="color: red; text-align: center">{{errorMessage}}</p>
{{/if}}


