<div class="howdoesitwork">

    <div class="title"><img
      src="../images/LOGO PRINCIPAL1.png"
      alt="logo"
      style="width: 15%;"
    /></div>
<hr>

<h2 class="title">How does it work?</h2>
<br>
<p >
Hello there! 
<br>
<br>
Thanks for choosing our services and let us feed you with the best organic, tasty, and healthy food! 
<br>
How do our meal-preps plan work? 
<br>
First of all, we post our menu every Thursday, you will have until Saturday 10:00 am to review it and place your order either here or by sending us a text message. We will deliver your food on Sunday for Monday, Tuesday, and Wednesday. On Wednesday afternoon you will get your food for Thursday and Friday. That way you will have it fresh.
<br>
What happens if I place my order on Sunday, Monday, Tuesday...? 
<br>
If you place an order on any other day besides Friday or Saturday you will have it schedule for the following week. 
<br>
Ex. Menu Posted on Thursday 08/25/2021 for week 08/30 to 09/03 If I place the order after Saturday 08/28/2021 my plan will be schedule for week 09/06 to 09/10.
<br>
We always work with pre-orders, so make sure the day you're placing the order for the week that you want it. 
<br>
<br> 
<br>
<b>Always remember that we are here to help you get a better lifestyle. If you have any questions please send us an email, text, or give us a call. 
</b>
<br>
 <br>
<br>
 <i style="color: red;">PS. This services is only available in Miami Dade County.</i>
<br>
 <br>
<br>
Email: info@theorchardorganic.com
<br>
Phone: 3054973850 / 7865692964
</p>
</div>