

<h1 class="title">Log In</h1>
<br>
<br>


<form action="/auth/logIn" method="post" class="form">

  <div>
    <label for="nameInput">Full Name</label>
  </div>

  <div>
    <input type="text" name="fullName" id="nameInput"/>
  </div>

  <div>
    <label for="emailInput">Email</label>
  </div>

  <div>
    <input type="email" name="email" id="emailInput"/>
  </div>

  <br />

  <div>
    <label for="passwordInput">Password</label>
  </div>
  <div>
    <input type="password" name="password" id="passwordInput"/>
  </div>

  <br />
  <button type="submit" class="button">Log in</button>
  <br>
<a href="/auth/signUp" style="color: rgb(0, 0, 0); text-align: center; text-decoration:none; font-size:small">Don't have an account yet? Sign up here </a>
</form>


{{#if errorMessage}}
<p style="color: red; text-align: center">{{errorMessage}}</p>

{{/if}}

