<div class="howdoesitwork">

  <div class="title"><img
      src="../images/LOGO PRINCIPAL1.png"
      alt="logo"
      style="width: 15%;"
    /></div>
<hr>
  <h3 class="title">Who we are?</h3>
  <p>
    Hello there!
    <br />
    <br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, doloremque
    maiores. Sequi adipisci magni, provident dolores similique praesentium quia
    reprehenderit repudiandae iste illum! Consequatur, nostrum quaerat! Repellat
    recusandae blanditiis doloremque!.
    <br />
    <br />
    <br />
  </p>
</div>