<div style="padding: 1%;">
    <a style="text-decoration: none; color:black;" href="/"><i
    class="fa-regular fa-circle-left"
  > </i> Go home</a>
</div>


<div class="profileWelcome">
<img src="https://ziclife.com/wp-content/uploads/2020/08/cute-avatar-image-48.jpg" alt="profilePic" class="profilePic">
<h2 >Welcome {{fullName}}</h1>
</div>

{{!-- <form action="/profile" method="post" enctype="multipart/form-data">
<input type="file" name="profilePicture">
</form> --}}




<div class="profileInfo">
    <ul>
    <li>
    <a href="#">Personal information</a>
    </li>
  
     <li>
    <a href="#">Change password</a>
    </li>

    <li>
    <a href="#">My address</a>
    </li>
    
     <li>
    <a href="#">My recent orders</a>
    </li>

     <li>
    <a href="#">Log out</a>
    </li>
    
    </ul>
</div>
