<h1>Welcome {{fullName}}</h1>

<div>
    <a href="/">Go home</a>
</div>

{{!-- <form action="/profile" method="post" enctype="multipart/form-data">
<input type="file" name="profilePicture">
</form> --}}


<img src="https://ziclife.com/wp-content/uploads/2020/08/cute-avatar-image-48.jpg" alt="profilePic" class="profilePic">

<div class="container">
    <ul>
        <li>
    <a href="#">Name and last name</a>
    </li>
     <li>
    <a href="#">Email</a>
    </li>
     <li>
    <a href="#">Change password</a>
    </li>
     <li>
    <a href="#">Phone number</a>
    </li>
     <li>
    <a href="#">My address</a>
    </li>
     <li>
    <a href="#">My recent orders</a>
    </li>
     <li>
    <a href="#">Log out</a>
    </li>
    </ul>
</div>