<div style="padding: 1%;">
    <a style="text-decoration: none; color:black;" href="/"><i
    class="fa-regular fa-circle-left"
  > </i> Go home</a>
</div>


<div class="profileWelcome">
<img src="https://ziclife.com/wp-content/uploads/2020/08/cute-avatar-image-48.jpg" alt="profilePic" class="profilePic">
<h2 >Welcome {{fullName}}</h1>
</div>

{{!-- <form action="/profile" method="post" enctype="multipart/form-data">
<input type="file" name="profilePicture">
</form> --}}



<div class="details">

<div class="profileInfo">
   
    <a href="#">Personal information</a>
    <br>
   
    <a href="#">My address</a>
    <br>
    
    <a href="#">My recent orders</a>
    <br>
    
    <a href="/auth/logOut">Log out</a>
   
</div>

<div class="editSectiton">
  <br>
  
  <p>{{fullName}}</p>
  <p>{{email}}</p>
  <a href="#">Change password</a>
  <br>
  <br>
  <a href="#" class="edit">Edit</a>
</div>


</div>