.navbar {
  background-color: rgba(184, 235, 40, 0.31);
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
}

.profileWelcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details{
  display: flex;
  justify-content: space-evenly;
}

.editSectiton{
  
  border: 1px solid gainsboro;
  border-radius: 20px;
  padding: 10px;

}

.profileInfo {

  background-color: rgba(184, 235, 40, 0.31);
  border-radius: 10px;
  padding: 2%;
  width: 50%;
  font-size: larger;
}

.profileInfo a {
  text-decoration: none;
  color: black;
}


.title {
  text-align: center;
}

.cart {

  text-decoration: none;
  color: black;
  font-size: 20px;

}

.cartIcon {
  font-size: 24px;
}

.category {
  display: flex;
  justify-content: space-evenly;
}

.categoryPic {
  padding: 3%;
  text-align: center;
}



.logoBottom {
  width: 10%;

}

.profilePic {
  width: 10%;
  border-radius: 50%;

}

footer {
  /* height: 15%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 85px;
  align-items: center;
  padding: 1%;
  font-size: larger;
}




.button {
  transition-duration: 0.4s;
  background-color: white;
  border: none;
  border-color: #B8EB28;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;

}

.button:hover {
  background-color: #B8EB28;
  color: black;
}

.button2 {
  background-color: #B8EB28;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}

.button3 {
  background-color: rgba(184, 235, 40, 0.31);
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  padding: 8px;
}

.edit {
  background-color: #B8EB28;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  padding: 8px;
}


@media only screen and (min-width: 500px) {
  .button2 {
    background-color: B8EB28;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
  }

  .profileInfo {
    /* margin-left: 20%; */
    background-color: rgba(184, 235, 40, 0.31);
    border-radius: 10%;
    padding: 2%;
    width: 15%;
  }
}

.bestSeller {
  display: flex;
  justify-content: space-evenly;
}

.productImg {
  border-radius: 30px;
  width: 20vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.products {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.productInside {
  width: 60%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid gainsboro;
  border-radius: 25px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.howdoesitwork {
  padding: 25px;
  font-size: larger;
}

/* .innerDiv{
  display: flex;
  justify-content: flex-end;
} */

.empty {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 20vw;
}

.checkOut {
  display: flex;
  justify-content: center;
}

.formCheckout {
  margin: auto;
  padding: 2%;
}