.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
}

.cart {

  text-decoration: none;
  color: black;
  font-size: 20px;

}

.cartIcon {
  font-size: 24px;
}

.category {
  display: flex;
  justify-content: space-evenly;
}

.categoryPic {
  padding: 3%;
  text-align: center;
}



.logoBottom {
  width: 10%;

}

.profilePic {
  width: 10%;
  border-radius: 50%;

}

footer {
  /* height: 15%; */
  display: flex;
  justify-content: center;
  margin-top: 85px;
}

.button {
  transition-duration: 0.4s;
  background-color: white;
  border: none;
  border-color: #B8EB28;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;

}

.button:hover {
  background-color: #B8EB28;
  color: black;
}

.button2{
  background-color: B8EB28;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
  }


@media only screen and (min-width: 500px){
  .button2 {
    background-color: B8EB28;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
  }
}

.bestSeller {
  display: flex;
  justify-content: space-evenly;
}

.productImg {
  border-radius: 30px;
  width: 20vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.products {
  /* margin-left: auto;
  margin-right: auto; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* padding: 30px; */
  width: 20vw;
}

.howdoesitwork {
  padding: 25px;
  font-size: larger;
}

/* .innerDiv{
  display: flex;
  justify-content: flex-end;
} */

.empty {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 20vw;
}

.checkOut{
  display: flex;
  justify-content: center;
}