<h1 class="title">Our meal plans</h1>

<br>
<br>

<div class="products">
{{#each foundProduct}}

<h3>{{name}}</h3>
<p>
{{description}}
</p>
<br>
<p>{{menuType}}</p>
<h4>
{{price}}
</h4>

<a href="#" class="button2">Select this plan</a>

<br>
{{/each}}
</div>