<h1 class="title">Craving killers</h1>

{{/each}}


<br>
<br>

<div class="products">
{{#each foundProduct}}

<h3>{{name}}</h3>
<p>
{{description}}
</p>
<br>
<h4>
{{price}}
</h4>

<a href="#" class="button2">Add to the cart</a>

<br>
{{/each}}
</div>